 @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

.form__wrapper{
  font-family: 'Rubik', sans-serif;
  margin: 0 auto;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
 
}

h1 {
  align-self: flex-start;
  margin-left: 40px;
  
}

@media(max-width: 650px) {
    
.form__wrapper{
  width: 400px;
  padding: 60px 20px;
}

h1 {
  margin-left: 0px;
  font-size: 1.5rem;
}

}
